[submodule "app/Plugin/TwitterBootstrap"]
	path = app/Plugin/TwitterBootstrap
	url = git://github.com/slywalker/TwitterBootstrap.git
[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
